
.example-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}

.scrollContainer {
    overflow-y:scroll; /* Make the container scrollable */
    position: relative;
    max-height: 73vh;
    width: 95%;
}

.SendMessageForm{
    position: relative;
}



textarea{
    white-space: pre-line;
}

mat-card-content{
    white-space: pre-line;
}

mat-card{
    border-radius: 25px;
    margin: 10px;
}