
.example-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}

.scrollContainer {
    overflow: auto; /* Make the container scrollable */
    position: relative;
    max-height: 80vh;
    width: 95%;
}

.SendMessageForm{
    position: relative;
}



textarea{
    white-space: pre-line;
}

mat-card-content{
    white-space: pre-line;
}