.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 20px);
  }
  
  .column1,
  .column3 {
    flex: 1;
  }
  
  .column2 {
    flex: 5;
  }