CAMBIO FOTO DE PERFIL

<input type="file" class="file-input" name="file"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>

<mat-card class="example-card">
  <div mat-card-avatar  class="example-header-image" [style.background-image]="'url(' + url + ')'"></div>

</mat-card>
