.file-input {
    display: none;
}

.example-header-image {
    background-size: cover;
  }

.pictureChange{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}