.chatContainer {
    height: 95vh;
}


.scrollContainer {
    overflow: auto; /* Make the container scrollable */
    position: relative;
    max-height: 73vh;
    width: 95%;
}


.SendMessageForm{
    position: relative;
}

textarea{
    white-space: pre-line;
}

mat-card-content{
    white-space: pre-line;
}

mat-card{
    border-radius: 25px;
    margin: 10px;
}