
USUARIOS DEL SERVIDOR: 
<div>
    <mat-list>
        <ng-container *ngFor="let item of grupo.arrUsers">
            <button mat-button (click)="selectUser(item.email, item._id)" [matMenuTriggerFor]="menuBorrar" style="height: auto;">
                <div *ngIf="findAdmin(grupo,item._id); else elseBlock">
                    <mat-list-item >
                        <mat-card class="example-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>{{item.name}}</mat-card-title>
                              <mat-card-subtitle>{{item.email}} | Admin</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-list-item>
                </div>
                <ng-template #elseBlock>
                    <mat-list-item>
                        <mat-card class="example-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>{{item.name}}</mat-card-title>
                              <mat-card-subtitle>{{item.email}}</mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </mat-list-item >
                </ng-template>
            </button>
        </ng-container>
    </mat-list>
    <mat-menu #menuBorrar="matMenu">
        <button mat-menu-item (click)="removeFromChannel()">Eliminar</button>
        <button mat-menu-item (click)="makeAdmin()">Hacer admin</button>
        <button mat-menu-item (click)="revokeAdmin()">Revocar admin</button>
    </mat-menu>
</div>

