.topBar{
    background-color: darkgray;
    text-align: left;
    color: white;
    height: 20px;
    font-style: italic;
}

mat-sidenav-container{
    height: 100%;
    
}


#listFixedButtons{
    vertical-align: bottom;
}